body{

    font-family: var(--body-font);

    background: var(--background);

    color: var(--text);

}

h1,
h2,
h3,
h4,
h5,
h6{

    font-family: var(--title-font);

}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{

    scroll-behavior:smooth;

}

body{

    font-family:var(--body-font);
    background:var(--background);
    color:var(--text);

}

.container{

    width:min(1200px,90%);
    margin:auto;

}

section{

    padding:var(--section-space) 0;

}